# -------------------------------------------------------------------------
# ARQUIVOS DE AMBIENTE E SEGURANÇA
# -------------------------------------------------------------------------
.env

# -------------------------------------------------------------------------
# VOLUMES E DADOS LOCAIS
# -------------------------------------------------------------------------
# Prevenção: caso você decida mapear uma pasta local para o banco de dados no futuro
/docker/db/data/
/data/
/postgres_data/

# -------------------------------------------------------------------------
# ARQUIVOS DE SISTEMA OPERACIONAL
# -------------------------------------------------------------------------
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# -------------------------------------------------------------------------
# CONFIGURAÇÕES DE EDITORES E IDEs (VS Code, PhpStorm, etc.)
# -------------------------------------------------------------------------
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?